<div class="row">
    <div class="col-sm-12">
        {% if app.session.flashBag.has('success') %}
            <div class="alert alert-success" role="alert">
            {% for message in app.session.flashBag.get('success') %}
                {{ message|nl2br }}
            {% endfor %}
            </div>
        {% endif %}
        {% if app.session.flashBag.has('error') %}
        <div class="alert alert-danger" role="alert">
            {% for message in app.session.flashBag.get('error') %}
                {{ message|nl2br }}
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>