<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <h4><strong><font color="#ffffff"> アイデアの森</font></strong></h4>
        </div>
    </div>
</nav>